<div id="<%= dom_id join_info %>">
  <p>
    <strong>Link:</strong>
    <%= join_info.link %>
  </p>

  <p>
    <strong>Meeting:</strong>
    <%= join_info.meeting_id %>
  </p>

  <p>
    <strong>Meeting provider:</strong>
    <%= join_info.meeting_provider %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= join_info.password %>
  </p>

</div>
