<div id="<%= dom_id location %>">
  <p>
    <strong>Street address:</strong>
    <%= location.street_address %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= location.province %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= location.country %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= location.lat %>
  </p>

  <p>
    <strong>Long:</strong>
    <%= location.long %>
  </p>

</div>
